* {
   margin: 0;
}

.percent {
   width: 50%;
   height: 50%;
   border: 2px dashed red;
}
.vwh {
   width: 50vw;
   height: 50vh;
   border: 2px dashed green;
}

.container {
   width: 500px;
   height: 300px;
   border: 2px solid black;
}

 