.container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    min-height: 70vh;
}

.box {
    width: 7em;
    height: 8em;
    background: lightcyan;
    border: 2px solid blue;
}

.box:first-child {
    /* flex-grow: 2; */
    /* flex-shrink: 0; */
    /* flex-basis: 0;   */
    flex: 2 1 0;   
}

.box:last-child {
    /* align-self: flex-start; */
    /* flex-grow: 1;
    flex-basis: 0; */
    flex: 1 1 0;
}