.example {
    padding: 20px;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .example {
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */