* {
    margin: 0;
    box-sizing: border-box;
}

header, footer { 
    font-size: larger;
    padding: 0.8em;
    background: rgb(163, 211, 243);
}

main {
    margin: auto; 
    width: 70%;
}

section {
    border: 1px solid black;
    background: rgb(192, 234, 252);
    margin: 0.8em 0em;
    padding: 0.5em;
    border-radius: 0.6em;
}

.card_image {
    /* margin: auto; */
    width: 15em;
    height: 15em;
    border: 2px solid black;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    margin-top: 1em;
}

ul {
    margin-bottom: 1em;
}

footer {
    margin-top: 0.5em;
    text-align: center;
}