nav, footer {
    display: flex; 
    justify-content: space-between;
    font-size: 1.5rem;
}

.menu_container {
    display: flex;
    gap: 0.8em;
}

/* .logo {
    margin-right: auto;
}

.help {
    margin-left: auto;
}

nav > div {
    margin: 
} */

/* .container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    border: 2px dashed black;
    min-height: 80vh;
    flex-wrap: wrap;
} */
 
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
}

.row1 { 
    background: lightskyblue; 
    font-size: 2rem;
}

.row2 { 
    background: lightgoldenrodyellow; 
    font-size: 1.4rem;
}

.box {
    width: 12em;
    height: 6em;
    background: lightcyan;
    border: 2px solid blue;
}

.box:first-child {
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 6em; */
    /* flex: 1 0 6em;     */
}
 
.box:last-child {
    /* align-self: flex-start; */
    /* flex-grow: 1;  */
}